.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 92px;
    padding-bottom: 96px;
    background-color: #fff;
}
.header_menu_list {
    display: flex;
    flex-direction: row;
    gap: 28px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    color: inherit;
    font-family: Raleway,sans-serif;
}
.menu_link {
    margin-left: 5px;
}
.menu_item {
    text-underline-offset: 4px;
    list-style-type: circle;
}
.menu_item_no-bullit {
    list-style-type: none;
}
.menu_link_active {
    text-decoration:none;
}
.header_logo {
    width: 148px;
    height: 105px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-right: 0 auto;
}
.header_adress {
    text-underline-offset: 4px;
    text-decoration-line: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    margin-top: 4px;
    margin-left: 186px;
    font-style: normal;
}
.cover {
    position: relative;
    width: 100%;
    min-height: 757px;
    padding: 166px 50px 50px 50px;
    background-size: cover;
    background-position: center;
    background-image: url('../images/cover.jpg');
}
.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    inset: 0;
    height: 100%;
    width: 100%;
}
.title_cover {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 100px;
    font-weight: bold;
    color:#fff;
    letter-spacing: 0.3em;
    line-height: 115px;
    font-family: Raleway,sans-serif;
}
.aligned-text_left {
    display: block;
    margin-right: -0.3em;
}
.aligned-text_center {
    text-align: center;
    padding-left: 30px;
    padding-top: 22px;
}
.aligned-text_right {
    text-align: end;
    margin-right: -0.3em;
    padding-top: 20px;
}
.description_cover {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    line-height: 28px;
    font-size: 22px;
    font-weight: normal;
    font-family: Raleway,sans-serif;
    text-transform: uppercase;
    padding-top: 103px;
    word-spacing: 19px;
    color:#fff;
}
.bet-button {
    z-index: 1;
    width: 256px;
    height: 51px;
    line-height: 51px;
    font-weight: 500;
    transition: all 0.3s ease;
    background: transparent;
    border: 1px solid white;
    font-size: 22px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
.lots {
    display: grid;
    justify-content: center;
    margin-top: 183px;
    width: 100%;
}
.title_lots {
    width: 121px;
    margin-left: 62px;
    font-weight: 700;
    font-size: 40px;
    line-height: 46.96px;
    color:#000;
}
.lots_card_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    padding: 26px 23px;
}
.card_link {
    display: block;
    height: 100%;
}
.card {
    display: flex;
    position: relative;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    min-height: 596px;
    padding: 47px 41px 49px;
}
.film_card {
    background-image: url('../images/card-lot-01.jpg');
}
.book_card {
    background-image: url('../images/card-lot-02.jpg');
} 
.pic_card {
    background-image: url('../images/card-lot-03.jpg');
}
.card-title {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-family: Raleway,sans-serif;
    font-size: 22px;
    line-height: 26.4px;
    text-decoration: underline;
    list-style-type: solid;
    position: relative;
    z-index: 1;
}
.card-text {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    font-family: Raleway,sans-serif;
    line-height: 24px;
    position: relative;
    z-index: 1;
}
.more {
    margin-left: 64px;
    margin-top: 3px;
    border: 1px;
    color:#000;
    font-weight: 400;
    font-size: 20px;
    font-family: Raleway,sans-serif;
    line-height: 23.48px;
    text-underline-offset: 4px;
    text-decoration-line: none;
}
.about {
    display: grid;
    grid-template-columns:auto 1fr;
    gap: 72px;
    padding-left: 13px;
    padding-right: 24px;
    margin-top: 120px;
}
.about_logo {
    margin-top: 35px;
    margin-left: 58px;
    display: flex;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
}
.title_about {
    font-weight: 700;
    font-size: 40px;
    font-family: Raleway,sans-serif;
    line-height: 47px;
    text-transform: uppercase;
}
.text_about {
    margin-top: 98px;
    font-weight: 400;
    font-size: 20px;
    font-family: Raleway,sans-serif;
    line-height: 24px;
}
.high_part_text {
    width: 688px;
}
.down_part_text {
    width: 690px;
    margin-top: 24px;
}
.about_column {
    width: 693px;
    margin-top: 138px;
}
.footer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 180px 50px 82px;
}
.address {
    max-width: 240px;
    justify-self: end;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}
.adress-list_item {
    list-style-type: none;
    text-underline-offset: 4px;
    text-decoration-line: none;
    font-weight: 400;
    font-size: 18px;
    font-family: Raleway,sans-serif;
    line-height: 24.3px;
    font-style: normal;
}
.spec {
    text-decoration: none;
}
.footer-social-link {
    width: 240px;
    list-style-type: none;
}
.footer-social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 94px;
}
.footer-social-list_item {
    list-style-type: none;
}
.icon {
    width: 48px;
    height: 48px;
}
.footer-menu-list {
    text-align: center;
    font-family: Raleway,sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    color: inherit;
}